<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test automation suite">

 
 
 
  <test name="Different testng features">
      
      <classes>
      <class name="com.testng.ExceptionTimeout"/>
      <class name="com.testng.Googetext"/>
      <class name="com.testng.GoogleTestValidation"/>
      </classes>
  </test> <!-- Test --> 
   
  
</suite> <!-- Suite -->